

      <div *ngIf="bookings && bookings.length" class="booking-header p-2 d-flex" >
        <span class="m-2" style="flex: 40">Name: Route</span>
        <span class="m-2" style="text-align: center; flex: 15">Passengers</span>
        <span class="m-2" style="text-align: center; flex: 15">Reference</span>
        <span class="m-2" style="text-align: center; flex: 15">Departing</span>
        <span class="m-2" style="text-align: right; flex: 15">Booked</span>
      </div>
      <div class="booking p-2 d-flex" (click)="goToItinerary(booking)" *ngFor="let booking of bookings">
        <span class="m-2" style="flex: 40">{{ booking.Name }}</span>
        <span class="m-2" style="text-align: center; flex: 15">{{ booking.Passengers }}</span>
        <span class="m-2" style="text-align: center; flex: 15">{{ booking.RecordLocater }}</span>
        <span class="m-2" style="text-align: center; flex: 15">{{ booking.DepartureDate }}</span>
        <span class="m-2" style="text-align: right; flex: 15">{{ booking.BookingDate }}</span>
      </div>

      <h4 *ngIf="bookings && !bookings.length" style="color: gray; margin: auto; max-width: 500px; text-align: center;" class="p-4 card widget">You have no active bookings</h4>