<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">ITGTravel Register</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div *ngIf="!success" class="form-group">
                    <label for="username">Email</label>
                    <input placeholder="example@example.com" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div *ngIf="!success" class="form-group">
                    <label for="username">First Name</label>
                    <input placeholder="First name" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Username is required</div>
                    </div>
                </div>
                <div *ngIf="!success" class="form-group">
                    <label for="username">Last Name</label>
                    <input placeholder="Last name" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Username is required</div>
                    </div>
                </div>
                <div *ngIf="!success" class="form-group">
                    <label for="username">Phone Number</label>
                    <input placeholder="example@example.com" type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Username is required</div>
                    </div>
                </div>
                <div *ngIf="!success" class="form-group">
                    <label for="password">Password</label>
                    <input placeholder="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div *ngIf="!success" class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input placeholder="password" type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="f.confirm_password.errors.required">Password is required</div>
                    </div>
                </div>
                <button *ngIf="!success" [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <div *ngIf="error && !success" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div *ngIf="success" style="text-align: center" class="mt-3 mb-0">Account has been created.  You will recieve an email when we confirm your account.</div>
                <div class="text-center mt-4">
                    <p>
                        <a routerLink="/forgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a routerLink="/login">Back to login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>