::ng-deep .booking-form .gender-select .mat-form-field-wrapper{
    padding: 0;
    width: 90px;
}

::ng-deep .booking-form .mat-form-field-wrapper{
    padding: 16px;
    width: 270px;
}

.rules{
    border: 1px solid #007db0;
    border-radius: 3px;
    padding: 6px 16px;
    margin: 16px 16px;
    background-color: whitesmoke;
}

.rules.warn{
    border: 1px solid #ff7200;
    background-color: #ffd5b3;
}