<div *ngIf="confirmation && confirmation.warnings" class="m-5 mt-1 p-3 rules">{{ confirmation.warnings }}</div>
<form *ngFor="let fare of fares; index as i;" [formGroup]="fare.form" (ngSubmit)="book()" class="m-3 pb-3 card widget">
    <h5 class="m-3">Passenger {{i + 1}}: {{ fare.travelerType == 'CHD' ? 'Child' : fare.travelerType == 'ADT' ? 'Adult' : fare.travelerType }}</h5>
    <div class="booking-form layout-wrap">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fare.form.controls.FirstName.errors }" />
        </div>
        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" formControlName="MiddleName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fare.form.controls.MiddleName.errors }" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fare.form.controls.LastName.errors }" />
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input formControlName="Birthday" matInput [matDatepicker]="Birthday">
            <mat-datepicker-toggle matSuffix [for]="Birthday"></mat-datepicker-toggle>
            <mat-datepicker #Birthday></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="mt-3 ml-3 gender-select" appearance="fill">
            <mat-label>M/F</mat-label>
            <mat-select formControlName="Gender">
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
            </mat-select>
        </mat-form-field>
        
        <!--Passport (country, exp date, id)-->
      </div>
      <div (click)="fare.showOptional = !fare.showOptional" style="display: flex; max-width: 200px">
        <div style="flex: 100; padding: 16px; cursor: pointer;">Optional Fields</div>
        <button class="mt-2" type="button" mat-icon-button>
          <span class="material-icons md-32">
            {{ fare.showOptional ? 'expand_more' : 'expand_less' }}</span>
        </button>
      </div>
        <div *ngIf="fare.showOptional">
            <div class="booking-form layout-wrap">
                <div class="form-group">
                    <label>Passport Id</label>
                    <input type="text" formControlName="PassportId" class="form-control" />
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Passport Expiration</mat-label>
                    <input formControlName="PassportExpiration" matInput [matDatepicker]="PassportExpiration">
                    <mat-datepicker-toggle matSuffix [for]="PassportExpiration"></mat-datepicker-toggle>
                    <mat-datepicker #PassportExpiration></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Passport Country</mat-label>
                    <mat-select formControlName="PassportCountry">
                      <mat-option *ngFor="let country of countries" [value]="country.Value">
                        {{country.Name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="booking-form layout-wrap">
                <div class="form-group">
                    <label>Redress Number</label>
                    <input type="text" formControlName="RedressNumber" class="form-control" />
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Redress Country</mat-label>
                    <mat-select formControlName="RedressCountry">
                      <mat-option *ngFor="let country of countries" [value]="country.Value">
                        {{country.Name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
</form>

<div class="m-3 card widget">
    <div class="p-3 mt-3 rules warn" style="margin: auto">Your booking session will expire at {{ expirationTime }}</div>
    <form [formGroup]="form" #demoForm="ngForm" (ngSubmit)="onSubmit()" class="m-3">
        <div class="booking-form layout-wrap">
            <div class="form-group">
                <label>Contact Phone Number</label>
                <input placeholder="123-456-7890" class="form-control" formControlName="contactPhoneNumber" 
                    [ngClass]="{ 'is-invalid': submitted && f.contactPhoneNumber.errors }">
            </div>
            <div class="form-group">
                <label>Contact Email</label>
                <input placeholder="ExampleEmail@email.com" class="form-control" formControlName="contactEmail" 
                    [ngClass]="{ 'is-invalid': submitted && f.contactEmail.errors }">
            </div>
            <!--<div class="form-group">
                <label>Card Number</label>
                <input class="form-control" id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber>
            </div>
            <div class="form-group">
                <label>Expiration Date</label>
                <input class="form-control" id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp>
            </div>
            <div class="form-group">
                <label>CVC</label>
                <input class="form-control" id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
            </div>-->
        </div>
        <div class="d-flex mt-5" style="flex-direction: row">
            <button [disabled]="loading" class="m-3 pr-3 widget-search-filter btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Hold
            </button>
            <mat-radio-group style="flex-direction: column" class="mt-1 d-flex" [(ngModel)]="doPurchaseStep" [ngModelOptions]="{standalone: true}">
                <mat-radio-button [value]="false">Reserve</mat-radio-button>
                <mat-radio-button [value]="true">Reserve and Purchase</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="error && !loading" class="alert alert-danger m-3">{{error}}</div>
    </form>
    <div class="m-5 mt-1 p-3 rules">{{ confirmation.rules }}</div>
</div>

      