<!-- nav -->
<nav class="navbar navbar-expand" *ngIf="currentUser">
    <div class="navbar-nav">
        <img src="./assets/itg.png" style="width:100px" >
        <a class="nav-item nav-link" routerLink="/">Search</a>
        <a class="nav-item nav-link" routerLink="/bookings">Bookings</a>
        <a class="nav-item nav-link" routerLink="/account">Account</a>
        <a class="nav-item nav-link" routerLink="/admin">Administration</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>