<div class="card mt-5"style="flex-direction: row;
height: 80%; border: none;">
    <div class="side-nav">
        <div class="nav-tab" (click)="tab = 0" [ngClass]="{'active-side-nav-tab': tab == 0}" ><span class="material-icons">face</span>Users</div>
        <div class="nav-tab" (click)="tab = 1" [ngClass]="{'active-side-nav-tab': tab == 1}" ><span class="material-icons">groups</span>Clients</div>
        <div class="nav-tab" (click)="tab = 2" [ngClass]="{'active-side-nav-tab': tab == 2}" ><span class="material-icons">sell</span>Pricing</div>
        <div class="nav-tab" (click)="tab = 3" [ngClass]="{'active-side-nav-tab': tab == 3}" ><span class="material-icons">airplane_ticket</span>Bookings</div>
    </div>
    <div>{{ users }}</div>
</div>