.nav-tab{
    padding: 16px;
    color: #007db0;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #007db0;
    color: white;
    max-width: 250px;
    min-width: 200px;
}

.side-nav{
    width: 250px;
    background-color: #007db0;
}

.nav-tab .material-icons{
    vertical-align: bottom;
    padding-right: 16px;
    height: 26px;
}

.nav-tab:hover,
.active-side-nav-tab{
    background-color: #72b2cc;
    cursor: pointer;
    transition: all 0.25s;
}

.alert-link{
    padding-left: 16px;
    cursor: pointer;
}

.list-group-item-action{
    cursor: pointer;
    z-index: 1;
}

.org-label{
    border-bottom: 1px lightgray solid;
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.org-section{
    border-top: 1px lightgray solid;
    padding: 8px 16px;
}

.info-section{
    border: 1px solid #007db0;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
}