<div *ngIf="itinerary" class="m-3 p-4 card widget">
    <div class="d-flex">
        <h3 style="flex: 100">{{ itinerary.ContractType }} Fare</h3>
        <h5 class="tag" style="text-transform: capitalize;">{{ itinerary.Status }}</h5>
    </div>
    <mat-divider></mat-divider>
    <div class="pt-2" style="font-size: 16px">{{itinerary.DepartureDate}} - {{itinerary.ReturnDate}}</div>

    <div class="pt-3" style="font-size: 16px">Record Locator: {{itinerary.RecordLocater}}</div>
    <div class="pt-1" style="font-size: 16px">Date Reserved: {{itinerary.DateReserved}}</div>
    <div class="pt-1" style="font-size: 16px">Validating Airline: {{itinerary.Airline}}</div>
</div>

<div *ngIf="itinerary" class="m-3 p-4 card widget">
    <div class="d-flex">
        <h3 style="flex: 100">Travelers</h3>
        <h5 class="tag" style="text-transform: capitalize;">{{ itinerary.Passengers.length }}</h5>
    </div>
    <mat-divider></mat-divider>
    <div class="p-3" *ngFor="let passenger of itinerary.Passengers; index as i;">
        <div>Traveler {{i + 1}}: {{passenger.TravelerType == 'CHD' ? 'Child' : 'Adult' }}</div>
        <h4 class="mat-primary">{{ passenger.FirstName }} {{ passenger.MiddleName }} {{ passenger.LastName }}</h4>
        <mat-divider></mat-divider>
    </div>
</div>

<h4 *ngIf="error" style="margin: auto; max-width: 500px; text-align: center;" class="p-4 card widget">Booking doesn't exist</h4>