/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

html {background-image: url("./assets/bg.jpg"); background-size: cover; background-repeat: no-repeat;}
body {background-color: unset;}

.card{
    box-shadow: #3232324a 0px 3px 8px;
    letter-spacing: 1px;
}

.navbar{
    background-color: #007db0;
    color:white;
    display: flex;
    box-shadow: #3232324a 0px 3px 15px 0px;
}

.nav-item{
    color:white;
    flex: 20%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.25s;
    margin:auto;
}

.nav-item:hover{
    color:#a2daf0;
}

.navbar-nav{
    display: flex;
    flex: 100%
}

.navbar{
    background-color: white;
    color:#007db0;
    box-shadow: #3232324a 0px 3px 15px 0px;
}
.nav-item{
    color:#007db0;
    flex: 20%
}
.nav-item:hover{
    color:#004966
}

.card-header{
    justify-content: center; display: flex;
    background-color: #007db0; color: white ;
}

.btn{
    background-color: #007db0;
    border-color: #007db0;
    margin:auto
}