    <form [formGroup]="searchForm" (ngSubmit)="search()" class="card widget">
      <mat-radio-group class="mt-1 d-flex" [(ngModel)]="tripType" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="RT">Round Trip</mat-radio-button>
        <mat-radio-button value="OW">One Way</mat-radio-button>
        <mat-radio-button value="OJ">Open Jaw</mat-radio-button>
      </mat-radio-group>
        <div *ngIf="tripType=='OJ'">Departure Trip</div>
        <div style="display:flex; flex-wrap: wrap"  >
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>From</mat-label>
            <input type="text" placeholder="From airport" matInput formControlName="from" 
                   [matAutocomplete]="fromAirport">
            <mat-autocomplete autoActiveFirstOption #fromAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredFromOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>To</mat-label>
            <input type="text" placeholder="To airport" matInput formControlName="to" 
                   [matAutocomplete]="toAirport">
            <mat-autocomplete autoActiveFirstOption #toAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredToOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div *ngIf="tripType=='OJ'">Return Trip</div>
        <div *ngIf="tripType=='OJ'" style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>From</mat-label>
            <input type="text" placeholder="From airport" matInput formControlName="fromOJ" 
                   [matAutocomplete]="fromAirport">
            <mat-autocomplete autoActiveFirstOption #fromAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredFromOJOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>To</mat-label>
            <input type="text" placeholder="To airport" matInput formControlName="toOJ" 
                   [matAutocomplete]="toAirport">
            <mat-autocomplete autoActiveFirstOption #toAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredToOJOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
          
        <div style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill" class="search-date">
            <mat-label>Departure date</mat-label>
            <input formControlName="depDate" matInput [matDatepicker]="depPicker">
            <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
            <mat-datepicker #depPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="tripType != 'OW'" style="flex: 100; margin: 8px" appearance="fill" class="search-date">
            <mat-label>Return date</mat-label>
            <input formControlName="retDate" matInput [matDatepicker]="retPicker">
            <mat-datepicker-toggle matSuffix [for]="retPicker"></mat-datepicker-toggle>
            <mat-datepicker #retPicker></mat-datepicker>
          </mat-form-field>
        </div>
        
        <div style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>Adult Passengers</mat-label>
            <input type="number" placeholder="Adult Passengers" matInput formControlName="adtPassengers">
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>Child Passengers</mat-label>
            <input type="number" placeholder="Child Passengers" matInput formControlName="cldPassengers">
          </mat-form-field>

          <button [disabled]="loading" class="widget-search-filter btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Search
          </button>
        </div>

        <div (click)="showAdvanced = !showAdvanced" style="display: flex; max-width: 200px">
          <div style="flex: 100; padding: 8px; cursor: pointer;">Advanced</div>
          <button type="button" mat-icon-button>
            <span class="material-icons md-32">
              {{ showAdvanced ? 'expand_more' : 'expand_less' }}</span>
          </button>
        </div>
          <div style="overflow: hidden; height: {{ showAdvanced ? 120 : 0 }}px; transition: all .25s">
            <div class="d-flex">
              <mat-checkbox style="justify-content: center; flex: 100; display: flex"
                class="mat-primary" formControlName="directFlights">Non Stop or Direct Flights only</mat-checkbox>
              <mat-checkbox style="justify-content: center; flex: 100; display: flex"
                class="mat-primary" formControlName="bundledFaresOnly">Remove Basic Economy</mat-checkbox>
            </div>

            <div class="d-flex mt-3">
              <mat-form-field appearance="fill" style="justify-content: center; flex: 100; display: flex">
                <mat-label>Airline</mat-label>
                <mat-select formControlName="airline">
                  <mat-option *ngFor="let airline of airlines()" [value]="airline.value">
                    {{airline.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" style="justify-content: center; flex: 100; display: flex">
                <mat-label>Max Connection Time</mat-label>
                <mat-select formControlName="connectionTime">
                  <mat-option *ngFor="let time of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="time">
                    {{ time ? time : 'Any'}}{{ time > 0 ? ' hour' : '' }}{{ time > 1 ? 's' : ''}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
      </form>

      <div *ngIf="error" style="max-width: 500px; margin: 16px auto;" class="alert alert-danger mt-3">{{error}}</div>
      
      <div class="itinerary" *ngFor="let itinerary of itineraries">
          <div class="itinerary-title">{{ itinerary.contractDescription }} Fare: ${{ itinerary.totalCashPrice }}</div>
          <div style="padding-left: 20px" *ngFor="let flight of itinerary.flights">{{flight.carrierCode}} {{flight.flightNumber}}
               - {{dateString(flight.departureAirportDate)}} {{flight.departureAirport}} 
               <span class="material-icons" style="top: 2px; position: relative; font-size: 16px;">east</span>
              {{dateString(flight.arrivalAirportDate)}} {{flight.arrivalAirport}}
          </div>
        </div>