    <form [formGroup]="searchForm" (ngSubmit)="search()" class="card widget">
      <mat-radio-group class="mt-1 d-flex" [(ngModel)]="tripType" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="RT">Round Trip</mat-radio-button>
        <mat-radio-button value="OW">One Way</mat-radio-button>
        <mat-radio-button value="OJ">Open Jaw</mat-radio-button>
      </mat-radio-group>
        <div *ngIf="tripType=='OJ'">Departure Trip</div>
        <div style="display:flex; flex-wrap: wrap"  >
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>From</mat-label>
            <input type="text" placeholder="From airport" matInput formControlName="from" 
                   [matAutocomplete]="fromAirport">
            <mat-autocomplete autoActiveFirstOption #fromAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredFromOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>To</mat-label>
            <input type="text" placeholder="To airport" matInput formControlName="to" 
                   [matAutocomplete]="toAirport">
            <mat-autocomplete autoActiveFirstOption #toAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredToOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div *ngIf="tripType=='OJ'">Return Trip</div>
        <div *ngIf="tripType=='OJ'" style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>From</mat-label>
            <input type="text" placeholder="From airport" matInput formControlName="fromOJ" 
                   [matAutocomplete]="fromAirport">
            <mat-autocomplete autoActiveFirstOption #fromAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredFromOJOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>To</mat-label>
            <input type="text" placeholder="To airport" matInput formControlName="toOJ" 
                   [matAutocomplete]="toAirport">
            <mat-autocomplete autoActiveFirstOption #toAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredToOJOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
          
        <div style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill" class="search-date">
            <mat-label>Departure date</mat-label>
            <input (dateChange)="addEvent($event)" formControlName="depDate" matInput [matDatepicker]="depPicker">
            <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
            <mat-datepicker #depPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="tripType != 'OW'" style="flex: 100; margin: 8px" appearance="fill" class="search-date">
            <mat-label>Return date</mat-label>
            <input (dateChange)="addEvent($event)" formControlName="retDate" matInput [matDatepicker]="retPicker">
            <mat-datepicker-toggle matSuffix [for]="retPicker"></mat-datepicker-toggle>
            <mat-datepicker #retPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div style="display:flex; flex-wrap: wrap">
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>Adult Passengers</mat-label>
            <input type="number" placeholder="Adult Passengers" matInput formControlName="adtPassengers">
          </mat-form-field>
          <mat-form-field style="flex: 100; margin: 8px" appearance="fill">
            <mat-label>Child Passengers</mat-label>
            <input type="number" placeholder="Child Passengers" matInput formControlName="cldPassengers">
          </mat-form-field>

          <button [disabled]="loading" class="widget-search-filter btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Search
          </button>
        </div>
                    
        <div class="d-flex" *ngIf="contractTypes && contractTypes.length > 1">
          <mat-checkbox *ngFor="let type of contractTypes" [ngModelOptions]="{standalone: true}"
            style="justify-content: center; flex: 100; display: flex"
            class="mat-primary" [(ngModel)]="type.Include">{{type.Name}}</mat-checkbox>
        </div>

        <div (click)="showAdvanced = !showAdvanced" style="display: flex; max-width: 200px">
          <div style="flex: 100; padding: 8px; cursor: pointer;">Advanced</div>
          <button type="button" mat-icon-button>
            <span class="material-icons md-32">
              {{ showAdvanced ? 'expand_more' : 'expand_less' }}</span>
          </button>
        </div>
          <div style="overflow: hidden; height: {{ showAdvanced ? 150 : 0 }}px; transition: all .25s">

              <mat-radio-group style="max-width: 200px; margin: auto" class="mt-2 d-flex" [(ngModel)]="cabinClass" [ngModelOptions]="{standalone: true}">
                <mat-radio-button value="coach">Coach</mat-radio-button>
                <mat-radio-button value="business">Business</mat-radio-button>
              </mat-radio-group>
            
            <div class="d-flex">
              <mat-checkbox style="justify-content: center; flex: 100; display: flex"
                class="mat-primary" formControlName="directFlights">Non Stop or Direct Flights only</mat-checkbox>
              <mat-checkbox style="justify-content: center; flex: 100; display: flex"
                class="mat-primary" formControlName="bundledFaresOnly">Include Basic Economy</mat-checkbox>
            </div>

            <div class="d-flex mt-3">
              <mat-form-field appearance="fill" style="justify-content: center; flex: 100; display: flex">
                <mat-label>Airline</mat-label>
                <mat-select formControlName="airline">
                  <mat-option *ngFor="let airline of airlines()" [value]="airline.value">
                    {{airline.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" style="justify-content: center; flex: 100; display: flex">
                <mat-label>Max Connection Time</mat-label>
                <mat-select formControlName="connectionTime">
                  <mat-option *ngFor="let time of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="time">
                    {{ time ? time : 'Any'}}{{ time > 0 ? ' hour' : '' }}{{ time > 1 ? 's' : ''}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
      </form>

      <div *ngIf="error" style="max-width: 500px; margin: 16px auto;" class="alert alert-danger mt-3">{{error}}</div>
      
      <div style="transition: all 1s; height: 
      {{ loading && (!itineraries || !itineraries.length) ? '300' : '0' }}px"></div>

      <div class="post-search" [ngClass]="{'unset-width': !showPostSearch}" style="transition: all 1s; left: 
      {{ itineraries && itineraries.length ? '0' : '-500' }}px">
        
        <div class="stops-row">
          <div class="stops" *ngIf="showPostSearch">
            <div>Stops</div>
            <mat-checkbox class="mat-primary" [(ngModel)]="numStops.NonStop">Non-Stop</mat-checkbox>
            <mat-checkbox class="mat-primary" [(ngModel)]="numStops.OneStop">1 Stop</mat-checkbox>
            <mat-checkbox class="mat-primary" [(ngModel)]="numStops.TwoStop">2+ Stops</mat-checkbox>
          </div>
          <div style="flex: 100"></div>
          <button type="button" mat-icon-button (click)="showPostSearch = !showPostSearch">
            <span class="material-icons md-32 pl-0">
              {{ showPostSearch ? 'chevron_left' : 'chevron_right' }}</span>
          </button>
        </div>
        <div class="stops mb-4" style="width: unset;" *ngIf="showPostSearch && contractTypes && contractTypes.length > 1">
          <div>Contract Types</div>
          <mat-checkbox *ngFor="let type of contractTypes" class="mat-primary" [(ngModel)]="type.PostInclude">{{ type.Name }}</mat-checkbox>
        </div>
        <div class="time-range-slider" *ngIf="showPostSearch">
          <div>Outbound trip</div>
          <div class="d-flex" style="flex-direction: column;">
            <mat-slider (input)="this.departureFromTime = $event.value" [max]="24" [min]="0" [step]="0.25" class="from-slider"></mat-slider>
            <mat-slider (input)="this.departureToTime = $event.value" [(ngModel)]="departureToTime" [max]="24" [min]="0" [step]="0.25" class="to-slider" style="margin-top: -32px"></mat-slider>
          </div>
          <div class="d-flex">Departure: {{ formatLabel(departureFromTime) }} - {{ formatLabel(departureToTime) }}</div>
          <div class="d-flex" style="flex-direction: column;">
            <mat-slider (input)="this.arrivalFromTime = $event.value" [max]="24" [min]="0" [step]="0.25" class="from-slider"></mat-slider>
            <mat-slider (input)="this.arrivalToTime = $event.value" [(ngModel)]="arrivalToTime" [max]="24" [min]="0" [step]="0.25" class="to-slider" style="margin-top: -32px"></mat-slider>
          </div>
          <div class="d-flex">Arrival: {{ formatLabel(arrivalFromTime) }} - {{ formatLabel(arrivalToTime) }}</div>
        </div>
        <div class="time-range-slider" *ngIf="searchedTripType != 'OW' && showPostSearch">
          <div>Return trip</div>
          <div class="d-flex" style="flex-direction: column;">
            <mat-slider (input)="this.retDepartureFromTime = $event.value" [max]="24" [min]="0" [step]="0.25" class="from-slider"></mat-slider>
            <mat-slider (input)="this.retDepartureToTime = $event.value" [(ngModel)]="retDepartureToTime" [max]="24" [min]="0" [step]="0.25" class="to-slider" style="margin-top: -32px"></mat-slider>
          </div>
          <div class="d-flex">Departure: {{ formatLabel(retDepartureFromTime) }} - {{ formatLabel(retDepartureToTime) }}</div>
          <div class="d-flex" style="flex-direction: column;">
            <mat-slider (input)="this.retArrivalFromTime = $event.value" [max]="24" [min]="0" [step]="0.25" class="from-slider"></mat-slider>
            <mat-slider (input)="this.retArrivalToTime = $event.value" [(ngModel)]="retArrivalToTime" [max]="24" [min]="0" [step]="0.25" class="to-slider" style="margin-top: -32px"></mat-slider>
          </div>
          <div class="d-flex">Arrival: {{ formatLabel(retArrivalFromTime) }} - {{ formatLabel(retArrivalToTime) }}</div>
        </div>
      </div>

      <div class="itinerary" *ngFor="let itinerary of filteredItineraries">
          <div class="itinerary-title">{{ itinerary.contractDescription }} Fare: ${{ getTotalPrice(itinerary) }}</div>
          <div class="d-flex">
            <div style="border-right: lightgray solid 1px">
              <div class="fare" *ngFor="let fare of itinerary.fares">
                <div>Per {{ getFareType(fare) }}: ${{ toAmount(getFareAmount(fare, itinerary)) }}</div>
              </div>
              <div class="fare" *ngIf="itinerary.fares.length > 1">
                <div>Average: ${{ toAmount(getAverageAmount(itinerary)) }}</div>
              </div>
            </div>
            <div style="flex: 100">
              <div style="padding-left: 20px" *ngFor="let flight of getFlights(itinerary.flights, '1')">{{flight.carrierCode}} {{flight.flightNumber}}
                - {{flight.departureDateString}} {{flight.departureAirport}} 
                <span class="material-icons" style="top: 2px; position: relative; font-size: 16px;">east</span>
               {{flight.arrivalDateString}} {{flight.arrivalAirport}}
              </div>
              <mat-divider style="margin: 12px;"></mat-divider>
              <div style="padding-left: 20px" *ngFor="let flight of getFlights(itinerary.flights, '2')">{{flight.carrierCode}} {{flight.flightNumber}}
                - {{flight.departureDateString}} {{flight.departureAirport}} 
                <span class="material-icons" style="top: 2px; position: relative; font-size: 16px;">east</span>
                {{flight.arrivalDateString}} {{flight.arrivalAirport}}
              </div>
              <div style="justify-content: end;" class="d-flex">
                <button (click)="book(itinerary)" class="confirm-button widget-search-filter btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </div>