    <form [formGroup]="searchForm" (ngSubmit)="search()" class="card widget">
        <mat-form-field style="margin: 8px; width: 300px" appearance="fill">
            <mat-label>From</mat-label>
            <input type="text" placeholder="From airport" matInput formControlName="from" 
                   [matAutocomplete]="fromAirport">
            <mat-autocomplete autoActiveFirstOption #fromAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredFromOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="margin: 8px; width: 300px" appearance="fill">
            <mat-label>To</mat-label>
            <input type="text" placeholder="To airport" matInput formControlName="to" 
                   [matAutocomplete]="toAirport">
            <mat-autocomplete autoActiveFirstOption #toAirport="matAutocomplete">
              <mat-option *ngFor="let option of filteredToOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="margin: 8px; width: 244px" appearance="fill">
            <mat-label>Adult Passengers</mat-label>
            <input type="number" placeholder="Number of passengers" matInput formControlName="adtPassengers">
          </mat-form-field>
          <mat-form-field style="margin: 8px" appearance="fill" class="search-date">
            <mat-label>Departure date</mat-label>
            <input formControlName="depDate" matInput [matDatepicker]="depPicker">
            <mat-datepicker-toggle matSuffix [for]="depPicker"></mat-datepicker-toggle>
            <mat-datepicker #depPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="margin: 8px" appearance="fill" class="search-date">
            <mat-label>Return date</mat-label>
            <input formControlName="retDate" matInput [matDatepicker]="retPicker">
            <mat-datepicker-toggle matSuffix [for]="retPicker"></mat-datepicker-toggle>
            <mat-datepicker #retPicker></mat-datepicker>
          </mat-form-field>
          <div class="widget-search-filter">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Search
            </button>
          </div>
      </form>

      <div *ngIf="error" style="max-width: 500px; margin: 16px auto;" class="alert alert-danger mt-3">{{error}}</div>
      
      <div class="itinerary" *ngFor="let itinerary of itineraries">
          <div class="itinerary-title">{{ itinerary.contractDescription }} Fare: ${{ itinerary.totalCashPrice }}</div>
          <div style="padding-left: 20px" *ngFor="let flight of itinerary.flights">{{flight.carrierCode}} {{flight.flightNumber}}
               - {{dateString(flight.departureAirportDate)}} {{flight.departureAirport}} 
              -> {{dateString(flight.arrivalAirportDate)}} {{flight.arrivalAirport}}
          </div>
        </div>