<div style="max-width: 600px; margin: auto" class="offset-md-3">
    <div class="card" style="border: initial">
        <h4 class="card-header">My Account</h4>
        <div class="card-body">
            <div style="display: flex;">
                <h5 style="flex: 100">Profile</h5>
                <button (click)="editProfile()" class="btn btn-primary">
                    Edit
                </button>
            </div>
            
            <div class="profile-section" *ngIf="profile">
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Email</div>
                    <div>{{ profile.Email }} </div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Name</div>
                    <div>{{ profile.FirstName }} {{ profile.LastName }}</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Phone Number</div>
                    <div>{{ profile.PhoneNumber }}</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Organization</div>
                    <div>{{ profile.OrganizationName }}</div>
                </div>
                <button (click)="changePassword()" class="btn btn-primary">
                    Change Password
                </button>
            </div>

            <div *ngIf="org" >
                <div style="padding-bottom: 8px">You manage {{ org.Name }}</div>
            <div style="display: flex;">
                
                <div style="flex: 100">
                  <div class="org-label">
                    <div style="flex: 100">Address</div>
                    <div>{{ org.Address }}</div>
                  </div>
                  <div class="org-label">
                    <div style="flex: 100">City</div>
                    <div>{{ org.City }}</div>
                  </div>
                  <div class="org-label">
                    <div style="flex: 100">State</div>
                    <div>{{ org.State }}</div>
                  </div>
                  <div class="org-label">
                    <div style="flex: 100">Zip Code</div>
                    <div>{{ org.ZipCode }}</div>
                  </div>
                  <div class="org-label">
                    <div style="flex: 100">Phone Number</div>
                    <div>{{ org.PhoneNumber }}</div>
                  </div>
                  <div class="org-label">
                    <div style="flex: 100">Default Airport</div>
                    <div>{{ org.DefaultAirport && org.DefaultAirport.length ? org.DefaultAirport : 'None'}}</div>
                  </div>
                </div>
                <button mat-icon-button (click)="editOrganization(org)" color="primary">
                  <span class="material-icons">edit</span>
                </button>
              </div>

              <div style="display: flex;" *ngIf="org.ShareableSuffix">
                <div style="flex: 100">
                  <div class="org-label">
                    <div style="flex: 100; padding-top: 6px">Link</div>
                    <div>
                      {{ getLink(org) }}
                      <button mat-icon-button [cdkCopyToClipboard]="getLink(org)" color="primary">
                        <span class="material-icons">content_copy</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="info-section">
                <h6>Main Contact</h6>
                <div class="org-label">
                  <div style="flex: 100">Name</div>
                  <div>{{ org.ContactFirstName }} {{ org.ContactLastName }}</div>
                </div>
                <div class="org-label">
                  <div style="flex: 100">Phone Number</div>
                  <div>{{ org.ContactPhoneNumber }}</div>
                </div>
                <div class="org-label">
                  <div style="flex: 100">Email</div>
                  <div>{{ org.ContactEmail }}</div>
                </div>
              </div>

            </div>
            <div *ngIf="!profile">Loading . . .</div>
        </div>
    </div>
</div>