<div class="col-md-6 offset-md-3">
    <div class="card">
        <h4 class="card-header">My Account</h4>
        <div class="card-body">
            <div style="display: flex;">
                <h5 style="flex: 100">Profile</h5>
                <button class="btn btn-primary">
                    Edit
                </button>
            </div>
            
            <div class="profile-section" *ngIf="profile">
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Email</div>
                    <div>{{ profile.Email }} </div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Name</div>
                    <div>{{ profile.FirstName }} {{ profile.LastName }}</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Phone Number</div>
                    <div>{{ profile.PhoneNumber }}</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Organization</div>
                    <div>{{ profile.OrganizationName }}</div>
                </div>
                <button class="btn btn-primary">
                    Change Password
                </button>
            </div>
            <div *ngIf="!profile">Loading . . .</div>
        </div>
    </div>
</div>