<div class="col-md-6 offset-md-3">
    <div class="card">
        <h4 class="card-header">My Account</h4>
        <div class="card-body">
            <div style="display: flex;">
                <h5 style="flex: 100">Profile</h5>
                <button class="btn btn-primary">
                    Edit
                </button>
            </div>
            
            <div class="profile-section">
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Email</div>
                    <div>Value</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Name</div>
                    <div>Value</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Phone Number</div>
                    <div>Value</div>
                </div>
                <div class="profile-label" style="margin-bottom: 16px;">
                    <div style="flex: 100">Organization</div>
                    <div>Value</div>
                </div>
                <button class="btn btn-primary">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>