<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!success" class="layout-wrap">
          <div class="form-group">
              <label for="published">Current Password</label>
              <input placeholder="password" type="password" formControlName="CurrentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CurrentPassword.errors }" />
          </div>
          <div style="display: flex; padding-top: 32px;">
            <div class="form-group">
              <label for="published">New Password</label>
              <input placeholder="password" type="password" formControlName="NewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" />
            </div>
            <div class="form-group">
              <label for="published">Confirm New Password</label>
              <input placeholder="password" type="password" formControlName="ConfirmNewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmNewPassword.errors }" />
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="success" style="text-align: center" class="mt-3 mb-0">Password has been changed.</div>
      <div style="display: flex;">
        <button style="margin: 8px 16px" (click)="onSubmit()" [disabled]="loading" class="widget-search-filter btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{ success ? 'Okay' : 'Update'}}
        </button>
        <button *ngIf="!success" mat-button (click)="dialogRef.close()">Cancel</button>
      </div>
      <div *ngIf="error && !success" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</div>